.form {
  width: 100%;
  max-width: 396px;
  background-color: #000000;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  margin: 0 auto;
  /* Centraliza o formulário na tela */
}

.entrada {
  width: 98%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgb(209, 206, 206);
  outline: none;
  padding: 15px;
  margin: 5px 0;
}

.entrada:focus {
  border: 1px solid #08fc5c;
}

.pink {
  background-color: #ea4f97;
  color: #fff;
  font-size: 15px;
  border: none;
  font-weight: bold;
  transition: .4s;
  cursor: pointer;
}

.pink:hover {
  background-color: #e072a6;
}

.form a {
  color: #5092e9;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 15px 0;
}

.form a:hover {
  text-decoration: underline;
}

.form .line {
  width: 100%;
  height: 1px;
  border: 1px solid rgb(216, 218, 217);
  margin-bottom: 15px;
}

.black-btn {
  background-color: #fff;
  border: none;
  color: #000;
  font-weight: bold;
  height: 50px;
  /* Aumentei a altura para corresponder aos campos de entrada */
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 98%;
  /* Defina a largura igual à dos campos de entrada */
}

.black-btn:hover {
  background-color: #bababa;
}

.form-side p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

.form-side a {
  font-weight: bold;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    max-width: none;
    padding: 10px;
  }

  .entrada {
    width: 100%;
    height: 40px;
    margin: 5px 0;
  }

  .pink {
    font-size: 14px;
  }

  .form a {
    font-size: 14px;
    margin: 10px 0;
  }

  .form .line {
    margin-bottom: 10px;
  }

  .black-btn {
    height: 45px;
  }

  .form-side p {
    font-size: 12px;
    margin-top: 15px;
  }

  .form-side a {
    font-weight: normal;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup h2 {
  font-size: 25px;
  text-align: left;
  margin-bottom: -10px;
}

.popup p {
  text-align: left;
  margin-bottom: 10px;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  /* Largura personalizada para o pop-up */
  max-width: 400px;
  /* Largura máxima personalizada */
  text-align: center;
  /* Centraliza o conteúdo do pop-up */
}

.popup-content input[type="text"],
.popup-content input[type="email"],
.popup-content input[type="password"],
.popup-content select,
.popup-content input[type="date"] {
  width: 98%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgb(209, 206, 206);
  outline: none;
  padding: 15px;
  margin: 5px 0;
  margin-top: 10px;
}

.flex-container {
  display: flex;
}

.flex-item {
  flex: 1;
  margin-right: 12px;
}

.popup-content input[type="text"]:focus,
.popup-content input[type="email"]:focus,
.popup-content input[type="password"]:focus,
.popup-content select:focus,
.popup-content input[type="date"]:focus {
  border: 1px solid #08fc5c;
}

.popup-content button[type="submit"] {
  background-color: #ea4f97;
  color: #fff;
  font-size: 18px;
  border: none;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
  width: 100%;
  height: 50px;
}


.popup-content button[type="submit"]:hover {
  background-color: #e072a6;
}

.popup-content a {
  color: #5092e9;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 15px 0;
  display: block;
  text-decoration: none;
  /* Remover sublinhado do link de ajuda */
}

.popup-content a:hover {
  text-decoration: underline;
}

.popup-content .line {
  width: 100%;
  height: 1px;
  border: 1px solid rgb(216, 218, 217);
  margin-bottom: 15px;
}

.popup-content .gold-btn {
  background-color: #fff;
  border: none;
  color: #000;
  font-weight: bold;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
  /* Largura total para o botão */
}

.popup-content .gold-btn:hover {
  background-color: #bababa;
}

.popup-content p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

.popup-content a {
  font-weight: bold;
}

.popup-content select {
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: 1px solid rgb(209, 206, 206);
  outline: none;
  padding: 10px;
  margin: 9px 0;
}

.popup-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.with-placeholder {
  /* Estilos para campos com placeholder, como cor de texto cinza */
  color: #888;
  font-size: 13px;
  display: block;
  text-align: left;
  /* Alinha o texto dos rótulos à esquerda */
}

/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
  .popup-content {
    padding: 50px;
    max-height: 120vh;
  }

  .popup-open {
    overflow: hidden;
  }

}