.face-infos {
    width: 50%;
}

.face-infos h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  margin-top: -90px; 
  margin-bottom: 30px;
  color: #000000;
}

.face-infos .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.face-infos img{
    width: 300px;
}
.face-infos p {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 22px;
    color: #dedbdb;
  }
  
  @media screen and (max-width: 980px) {
    .face-infos {
        width: 100%;
    }
    .face-infos .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 19px auto;
    }

     
    .face-infos .container h1 {
      margin-top: 10px;
      font-size: 30px; 
      margin-left: 20%;
    }
  
    .face-infos .container p {
    font-size: 19px; 
    margin-left: 15%;
    width: 75%;
    margin-bottom: auto;
    }
}

.footer {
    background-color: #07c449;
    text-align: center;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    color: #0f0f0f;
  }
  
  .footer-terms {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  .footer-terms a {
    text-decoration: none;
    margin: 0 20px;
  }
  
  .footer-terms a:hover {
    text-decoration: underline;
  }
  
  .footer-language {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .footer-info {
    font-size: 13px;
    margin-top: 10px;
  }
  
  
/* Estilos para a versão mobile */
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dedbdb;
    padding: 50px;
    text-align: center;
    margin-top: 90px;
  }

  .footer .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0; 
  }
  
  .footer .footer-info a {
    margin: 2px 0; 
    padding: 0 10px; 
  }
}